PENDING_DIR=/home/yazzu709/share/utsulog-clip/pending
S3_BUCKET=utsulog-clip-bucket
S3_PREFIX=backup
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ap-northeast-1
YOUTUBE_CLIENT_SECRETS_FILE=/secrets/client_secrets.json
TIKTOK_ACCESS_TOKEN=your_token_here
