PENDING_DIR=/path/to/your/pending/dir
S3_BUCKET=your-s3-bucket-name
S3_PREFIX=backup
AWS_ACCESS_KEY_ID=your_key_here
AWS_SECRET_ACCESS_KEY=your_secret_here
AWS_DEFAULT_REGION=ap-northeast-1
YOUTUBE_CLIENT_SECRETS_FILE=/secrets/client_secrets.json
TIKTOK_ACCESS_TOKEN=your_token_here
